# Historic data example

Below is a basic example of using the `wtdpy` package. We start with importing the package, if this fails please install it either from github or from pypi.

In [1]:
from wtdpy import WTDpy

#### Load the class with your API key

If you do not yet have an API key from World Trading Data please [create an account](https://www.worldtradingdata.com/) to request one.

In [2]:
your_api_token = "your_api_token"

wtd = WTDpy(api_token = your_api_token)

#### Look up historical data

First step is making sure our tickers are correct. I am interested in the Amsterdam Stock Exchange (symbol = `^AEX`) and the German Stock Exchange (symbol = `^DAX`). The cell below checks whether these symbols are available.

In [3]:
symbols = ["^AEX", "^DAX"]

wtd.search_available_data("^AEX")

True

If you are not sure that the data excists you can set `list_alternatives` to `True`. This will generate a list with proposed symbols, the first hit of the _stock_search_ request to the World Trading Data API.

In [4]:
wtd.search_available_data("AEX", list_alternatives = True)

[{'Symbol': 'AEX.F', 'Name': 'N/A'}]

In [5]:
wtd.search_available_data("^AEX", list_alternatives = True)

True

If you have the correct symbols we can request the data. This is possible by doing it one by one, as shown in the cell below. Or by feeding both symbols into the API, as shown in the second cell.

In [6]:
wtd.get_historical_data("^AEX", output = "df").head(2)

              open   close    high     low volume
1999-11-01  569.19  569.19  569.19  569.19      0
1999-11-02  568.99  568.99  568.99  568.99      0

In [7]:
wtd.get_historical_data(symbols).keys()

dict_keys(['^AEX', '^DAX'])