In [2]:
import httpx
import pandas as pd

api_token = "2uO9r13ItjeQzKEjLyKiT5Gi6WSZ5DfTsyVwP5uNcRghMoNbRscxigabgezy"

In [3]:
params = {"api_token": api_token, "limit": 5}
request_url = "https://api.worldtradingdata.com/api/v1/stock_search"

params.update({"search_term": ["^AEX", "^DAX"]})
response = httpx.get(request_url, params=params)
response = response.json()

In [27]:
params = {"api_token": api_token} #, "output": "csv"}
request_url = "https://api.worldtradingdata.com/api/v1/history"

params.update({"symbol": "^AEX"})
response = httpx.get(request_url, params=params)

In [35]:
test = {"Lala": pd.DataFrame.from_dict(response.json()["history"], orient = "index")}

In [41]:
list(test.values())[0]

1

In [26]:
import io
pd.read_csv(io.StringIO(response.content.decode('utf-8')))

            Date    Open   Close    High     Low  Volume
0     2020-03-17  431.65  424.26  432.00  401.46       0
1     2020-03-16  409.05  416.77  421.36  389.60       0
2     2020-03-13  451.76  432.85  466.84  425.22       0
3     2020-03-12  460.95  432.10  463.54  428.09       0
4     2020-03-11  493.37  484.16  497.66  482.19       0
...          ...     ...     ...     ...     ...     ...
5261  1999-11-05  582.93  582.93  582.93  582.93       0
5262  1999-11-04  584.76  584.76  584.76  584.76       0
5263  1999-11-03  579.17  579.17  579.17  579.17       0
5264  1999-11-02  568.99  568.99  568.99  568.99       0
5265  1999-11-01  569.19  569.19  569.19  569.19       0

[5266 rows x 6 columns]